# .gitignore

.bash*
.cache/
.config/
.dbus/
Desktop/
.gnome2/
.gvfs/
.idlerc/
.local/
.mozilla/
.virtualenvs/
.Xauthority
#this is so I can just pull repo stuff and not have is sychin with repo itself upon commit
WEB0922/
